@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  line-height: 1.7;
  font-family: 'Roboto', sans-serif; }

.card {
  height: 95vh; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.header {
  font-size: 1rem;
  width: 90%;
  margin: 1.5rem auto; }

.header__logo i {
  color: #554ee5; }

.header__navbar {
  display: flex;
  justify-content: space-between;
  position: relative; }
  .header__navbar .header__toggle {
    display: none; }
  .header__navbar .header__toggle:checked ~ .header__menu-list {
    display: block;
    z-index: 100; }
  .header__navbar .header__menu-list {
    display: none;
    position: absolute;
    top: 100%;
    color: #3f4958;
    width: 100%;
    margin-top: 1rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 2px 4px 10px #efefef; }
  .header__navbar .header__list {
    padding: 0.3rem 0.4rem;
    padding-left: 0.5rem; }
    .header__navbar .header__list:first-child {
      margin-top: 2rem; }
    .header__navbar .header__list:last-child {
      text-align: center;
      background-color: #f9fafb;
      margin: 0;
      color: #554ee5;
      padding: 0.75rem 0;
      margin-top: 0.7rem; }
    .header__navbar .header__list:hover {
      background: #e5edff; }

.hamburger-icon {
  color: #9fa6b2; }

.header__text-box {
  text-align: center;
  width: 80%;
  margin: 4rem auto; }
  .header__text-box span {
    display: block;
    font-size: 3rem;
    line-height: 1.1;
    letter-spacing: 0.1rem; }
  .header__text-box .heading-primary--main {
    font-weight: 900; }
  .header__text-box .heading-primary--sub {
    color: #554ee5;
    font-weight: bolder; }
  .header__text-box .header__text {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #3f4958;
    opacity: 0.8; }

.btn {
  width: 65%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-around; }
  .btn .btn--purple {
    padding: 0.8rem 3rem;
    background: #554ee5;
    border-radius: 0.375rem;
    color: white;
    font-size: 1rem; }
  .btn .btn--grey {
    padding: 1rem 2.5rem;
    background: #e5edff;
    border-radius: 0.375rem;
    color: #554ee5;
    font-size: 1.125rem; }

.image-box img {
  width: 100%; }

@media screen and (max-width: 831px) {
  .image-box {
    background-image: url("/images/2-code.jpg");
    height: 35vh;
    background-size: cover;
    background-position: center; }
  .image {
    display: none; } }

@media (min-width: 831px) {
  .header__navbar {
    display: flex;
    justify-content: space-between; }
    .header__navbar .header__menu-list {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
      position: static;
      top: 0;
      width: auto;
      background-color: transparent;
      border-radius: 0;
      width: 65%;
      box-shadow: none; }
    .header__navbar .header__list {
      display: flex;
      justify-content: start;
      align-items: center; }
      .header__navbar .header__list:first-child {
        margin: 0; }
      .header__navbar .header__list:last-child {
        color: #554ee5;
        margin: 0;
        padding: 0; }
      .header__navbar .header__list:hover {
        background: #e5edff; }
  .hamburger-icon {
    display: none; }
  .header__text-box {
    text-align: center;
    width: 80%;
    margin: 4rem auto; }
    .header__text-box span {
      display: block;
      font-size: 4rem;
      line-height: 1.1;
      letter-spacing: 0.1rem; }
    .header__text-box .heading-primary--main {
      font-weight: 900; }
    .header__text-box .heading-primary--sub {
      color: #554ee5;
      font-weight: bolder; }
    .header__text-box .header__text {
      margin-top: 1rem;
      font-size: 1.25rem;
      color: #3f4958;
      opacity: 0.8; }
  .btn {
    width: 60%;
    margin: 2rem auto 5rem;
    display: flex;
    justify-content: space-around; }
  .image-box {
    background-image: url("/images/2-code.jpg");
    height: 30rem;
    max-height: 34rem;
    background-size: cover;
    background-position: center; } }

@media (min-width: 1106px) {
  .card {
    max-height: 75vh;
    display: flex;
    justify-content: space-around; }
    .card .header {
      width: 65%; }
    .card .image-box {
      background-image: url("/images/2-code.jpg");
      width: 30%;
      height: auto;
      background-size: cover;
      background-position: right; }
    .card .header__menu-list {
      font-size: 0.8rem; }
  .header__text-box {
    text-align: center;
    width: 80%;
    margin: 4rem auto; }
    .header__text-box span {
      font-size: 4rem;
      text-align: left; }
    .header__text-box .heading-primary--sub {
      color: #554ee5;
      font-weight: bolder; }
    .header__text-box .header__text {
      font-size: 1.25rem;
      color: #3f4958;
      text-align: left; }
    .header__text-box .btn {
      display: flex;
      justify-content: start;
      width: 100%; }
      .header__text-box .btn .btn--purple {
        margin-right: 0.5rem; }
  .header__navbar {
    display: flex;
    width: 100%;
    justify-content: start;
    margin-left: 4.1rem; }
  .header__logo {
    margin-right: 2rem; }
  .header__list {
    padding: 0; } }
